<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.fulong.bootdemo.dao.HeroInfoDao">

    <!--    查询英雄列表数据-->
    <select id="selectHeroInfos" resultType="cn.fulong.bootdemo.entity.HeroInfo">
        SELECT * from hero_info
    </select>


    <!--    resultMap 不匹配的列 映射 返回type类型的字段数据-->
    <resultMap id="heroInfoResultMap" type="cn.fulong.bootdemo.entity.HeroInfo">
        <id property="id" column="id"/>
        <result property="cname" column="cname" />
        <result property="title" column="title" />
    </resultMap>

    <select id="selectHeroInfoById" resultMap="heroInfoResultMap">
        select id,title,cname from hero_info
        where  id = #{heroInfoId}
    </select>

</mapper>

